@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #0f101c;
    --white: #f0f0ff;
    --purple: #4200f5;
    --lighter-purple: #4806ff;
    --darker-gray: #292e3a;
    --gray: #4c515e;
    --shadow-color-border: 240, 240, 255;
    --shadow-color-main: 15, 16, 28;
    --themed-color-primary: #0f101c;
    --themed-color-secondary: #383b46;
    --themed-color-accent: #4122f5;

    --background: var(--white);
    --foreground: var(--black);

    --muted: var(--white);
    --muted-foreground: var(--gray);

    --popover: var(--white);
    --popover-foreground: var(--black);

    --card: var(--white);
    --card-foreground: var(--black);

    --border: var(--gray);
    --input: var(--white);

    --primary: var(--black);
    --primary-foreground: var(--white);

    --secondary: var(--white);
    --secondary-foreground: var(--black);

    --accent: var(--purple);
    --accent-foreground: var(--white);

    --destructive: var(--gray);
    --destructive-foreground: var(--white);

    --ring: var(--gray);

    --radius: 0.5rem;
  }

  [data-theme='dark'] {
    --shadow-color-border: 66, 0, 245;
    --shadow-color-main: 33, 0, 125;
    --themed-color-primary: #f0f0ff;
    --themed-color-secondary: #9ba2ba;
    --themed-color-accent: #4122f5;

    --background: var(--black);
    --foreground: var(--white);

    --muted: var(--black);
    --muted-foreground: var(--gray);

    --popover: var(--black);
    --popover-foreground: var(--white);

    --card: var(--black);
    --card-foreground: var(--white);

    --border: var(--gray);
    --input: var(--black);

    --primary: var(--white);
    --primary-foreground: var(--black);

    --secondary: var(--black);
    --secondary-foreground: var(--white);

    --accent: var(--purple);
    --accent-foreground: var(--white);

    --destructive: var(--gray);
    --destructive-foreground: var(--black);

    --ring: var(--gray);
  }
}

@layer base {
  * {
    @apply border-border;
    transition: background-color 0.1s ease-in-out;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
  html {
    font-family: 'Infer', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Arial,
      sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Unbounded', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto,
      Arial, sans-serif;
    font-weight: bold;
  }

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5,
    h6 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4,
    h5,
    h6 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 360px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
    h3,
    h4,
    h5,
    h6 {
      font-size: 1rem;
    }
  }

  .af-wrapper {
    @apply mt-28 flex-grow;
  }
}

/* _________________ */
/* ______FONTS______ */
/* _________________ */

@font-face {
  font-family: 'Infer';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('/assets/fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Infer';
  src: url('/assets/fonts/Inter-Black.woff2') format('woff2'),
    url('/assets/fonts/Inter-Black.woff') format('woff');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/assets/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/assets/fonts/FiraCode-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/assets/fonts/Unbounded-Bold.woff2') format('woff2'),
    url('/assets/fonts/Unbounded-Bold.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-Regular.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-Bold.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-Italic.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-Italic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-BoldItalic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}
