@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #0f101c;
  --white: #f0f0ff;
  --purple: #4200f5;
  --lighter-purple: #4806ff;
  --darker-gray: #292e3a;
  --gray: #4c515e;
}

[data-theme='dark'],
[data-theme='dark'] body {
  @apply bg-black text-white;
}
[data-theme='dark'] path:not([stroke]) {
  @apply stroke-white;
}
body {
  @apply bg-white text-black;
  transition: background-color 0.1s ease-in-out;
}
path:not([stroke]) {
  @apply stroke-black;
}

@layer base {
  html {
    font-family: 'Infer', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Arial,
      sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Unbounded', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Roboto,
      Arial, sans-serif;
    font-weight: bold;
  }

  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 3.5rem;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 2rem;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5,
    h6 {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4,
    h5,
    h6 {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
  }
}

@font-face {
  font-family: 'Infer';
  src: url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('/assets/fonts/Inter-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Infer';
  src: url('/assets/fonts/Inter-Black.woff2') format('woff2'),
    url('/assets/fonts/Inter-Black.woff') format('woff');
  font-display: swap;
  font-weight: bold;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/assets/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/assets/fonts/FiraCode-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('/assets/fonts/Unbounded-Bold.woff2') format('woff2'),
    url('/assets/fonts/Unbounded-Bold.woff') format('woff');
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-Regular.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-Bold.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-Italic.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-Italic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: 'SourceSerifPro';
  src: url('/assets/fonts/SourceSerifPro-BoldItalic.woff2') format('woff2'),
    url('/assets/fonts/SourceSerifPro-BoldItalic.woff') format('woff');
  font-display: swap;
  font-style: italic;
  font-weight: bold;
}
