button.af-switch {
  @apply flex h-6 w-10 items-center rounded-lg bg-gray;
}

button.af-switch[data-state='checked'] {
  @apply bg-purple;
}

.af-switch__thumb {
  @apply ml-[2px] mt-[] block h-5 w-5 rounded-full bg-white will-change-transform;
  transform: translateX(0);
  transition: transform 0.1s ease-out;
}

.af-switch__thumb[data-state='checked'] {
  transform: translateX(calc(1.25rem - 4px));
}
